/* Reset and Universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f1f5f8;
  line-height: 1.6;
}

/* Layout Styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header Styles */
header {
    /* https://oceancolor.gsfc.nasa.gov/gallery/734/ */
    background-image: url('banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    padding: 80px;
    height: 40vh;

    /* Flexbox properties */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* This will horizontally center the content */
    position: relative;  /* Add this to allow absolute positioning of child elements */
}

.doi-text {
    position: absolute;  /* Position it relative to the header */
    bottom: 10px;  /* Position from the bottom of the header */
    right: 10px;  /* Position from the right of the header */
    font-size: 0.8em;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.usg-text, .doi-text {
  font-weight: 600;
}

.usg-text {
  font-size: 1.5em;
  color: #385252;  /* Added this line to change the color */
}

.logo {
  height: 30px;
  width: auto;
  margin-right: 10px;
  vertical-align: middle;
}


header h2 {
    font-size: 1.9em;
    color: white;
    margin-top: 10px;
    font-style: normal;
    text-align: center;
    font-weight: bold;  /* Add this line to make the text bold */
}

/* Navigation Styles */
nav.container {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 30px;
}

nav ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #888;
}

/* Main Content Styles */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#home {
  grid-column: span 2;
}

.card {
  background-color: #fff;
  border: 1px solid #dfe3e6;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.card:not(#home) {
  /* background-color: #faf3e0; */
    background-color: #e7f2f8;
}



/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
}

/* Media Queries */
@media (max-width: 800px) {
  main {
    grid-template-columns: 1fr;
  }
}
